<div class="fanfic card">
  <% if @fanfic.staff_pick %>
    <div class="ribbon-wrapper">
      <div class="ribbon">Staff Pick</div>
    </div>
  <% end %>


  <div class="card-header">
    <%= @fanfic.title %>
    <div class="card-update">updated <%= time_ago_in_words @fanfic.updated %> ago</div>
  </div>
  <div class="card-copy">
    <p><%= @fanfic.description %></p>
  </div>
  <div class="card-tags">
    <span class="tag">#Manip!Dumbledore</span>
    <span class="tag">#Harry/Daphne</span>
    <span class="tag slash">#Slash</span>
    <span class="tag">#Smart!Harry</span>
    <span class="tag">#Angst</span>
    <span class="tag">#Sadness</span>
    <span class="tag">...</span>
  </div>
  <div class="card-stats">
    <ul>
      <li>97%<span>Rating</span></li>
      <li><%= @fanfic.word_count %>
        <span>Words</span></li>
      <li><%= format_date @fanfic.published %>
        <span>Release Date</span></li>
      <li><%= @fanfic.mpaa %>
        <span>MPAA</span></li>
    </ul>
  </div>
</div>