<div class="new-fanfic">


  <%= simple_form_for @fanfic, html: {class: "block-form"} do |f| %>
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :description %>
    <%= f.input :word_count %>
    <%= f.input :published, as: :date %>
    <%= f.input :updated, as: :date %>
    <%= f.association :relationship_type %>
    <%= f.association :mpaa %>
    <%= f.association :crossovers %>
    <%= f.association :characters %>
    <%= f.button :submit %>
  <% end %>

</div>