<div class="fanfic-show left">

  <div class="first-fanfic clearfix">
    <%= render 'fanfic_card' %>
  </div>

  <%= simple_form_for @review, html: {class: "block-form half"} do |f| %>
    <legend>Your Review for <%= @fanfic.title %></legend>
    <%= f.input :rating %>
    <%= f.input :headline %>
    <%= f.input :content, label: "Review" %>
  <% end %>


  <% 10.times do %>
    <%= render 'comments/comment' %>
  <% end %>
</div>

<div class="fanfic-show right">

  <div class="first-fanfic clearfix">
    <% 10.times do %>
      <%= render 'fanfic_card' %>
    <% end %>
  </div>

  
</div>
